#admin__section {
    background-color: rgb(238, 161, 201);

    .AdminContent {
        color: rgb(159, 202, 240);
        padding: 150px 0px;

        .HeaderTable ul {
            background-color: $color-green-dark;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 15px 20px;
            margin: 0;
            border-radius: 10px 10px 0px 0px;

            li {
                font-size: 30px;
                font-weight: 700;
                text-align: left;

                a:hover {
                    span {
                        color: rgb(159, 202, 240);
                    }
                }

                button {
                    font-size: 1rem;
                }

            }
        }

        .tableAdmin {
            background-color: #fff;

            th {
                text-align: center;
            }
        }

    }

    .AddingProductForm {
        .FormTitle {
            h2 {
                font-weight: 700;
            }
        }
    }
}


//responsive
@include responsive("small"){
    .AdminContent .HeaderTable{
        padding: $py-0 $px-100;
    } 
}
@include responsive("medium"){
    .AdminContent, .HeaderTable{
        padding: $py-150 $px-150;
        h1{
            font-size: $fs-8;
        }
    } 
}
@include responsive("large"){
    .AdminContent .HeaderTable{
        padding: $py-150 $px-150;
    } 
}
@include responsive("extra-large"){
    .AdminContent, .HeaderTable{
        padding: $py-150 $px-150;
    } 
}
