#admin__section {
    background-color: rgb(238, 161, 201);

    .AdminContent {
        color: rgb(159, 202, 240);
        padding: 150px 0px;

        .HeaderTable ul {
            background-color: $color-green-dark;
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 15px 20px;
            margin: 0;
            border-radius: 10px 10px 0px 0px;

            li {
                font-size: 30px;
                font-weight: 700;
                text-align: left;

                a:hover {
                    span {
                        color: rgb(159, 202, 240);
                    }
                }

                button {
                    font-size: 1rem;
                }

            }
        }

        .tableAdmin {
            background-color: #fff;

            th {
                text-align: center;
            }
        }

    }

    .AddingProductForm {
        .FormTitle {
            h2 {
                font-weight: 700;
            }
        }
    }
}

@include responsive('xl') {
    .AdminContent, .AdminModal {
        padding: 150px;
    }
}

@include responsive('lg') {
    .AdminContent {
        padding: 130px;
    }
    .AdminModal{
        padding: 110px;
    }
}

@include responsive('sm') {
    .AdminContent{
        padding: 0px;
        .tableAdmin {
            margin: 0 10px;
            width: auto;
            align-items: center;
        }
    }
    .AdminModal{
        padding: 50px;
    }
}

@include responsive('md') {
    .AdminContent{
        .tableAdmin {
            thead {
                tr{
                    display: flex;
                    justify-content: space-evenly;
                }
            }
            th,td {
                display: block;
                border-bottom: none;
                text-align: center;
            }
            tr:last-child td {
                border-bottom: 1px solid #ccc;
            }
    }
    }
}

