main {
    .background {
        background-image: url(/asset/img/img_bg.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;

        .container{
            display: flex;
            align-items: center;
            justify-content:space-evenly;

            position: absolute;
            top: 40%;
            left: 5%;
            .btn {
                color: #13502F;
                background-color: #EBAD01;
                font-size: 30px;
                margin: 10px;
                padding-top: 30px;
                width: 150px;
                height: 150px;
                text-align:center;
                outline: #13502F;
                border: 2px #13502F solid;
            }
            .btn:hover{
                color: #EBAD01;
                background-color: #13502F;
                transition: all 0.5s;
                padding: 10px;
            }
        }

    }
    
}


