// colors
$color-yellow: #ebad01;
$color-yellow-light: #cba846;
$color-green-light: #9be2af;
$color-green-dark: #13502f;
$color-text: #0f1316;
$color-note: #5b5050;

// responsive
$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
);